
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .logo {
    color: white;
    font-size: 24px;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu > li {
    margin-right: 20px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .submenu,
.sub-submenu {
  display: none;
  position: absolute;
  background-color: #444;
  list-style: none;
  padding: 0;
  z-index: 1; 
}

.submenu li {
  width: 200px;
  z-index: 1;
}
  
  .submenu a,
  .sub-submenu a {
    padding: 10px;
    color: white;
  }
  
  .submenu {
    left: -200px; 
    top: 0;
  }
  
  .submenu li:hover > .sub-submenu {
    display: block;
    left: -200px; 
    top: 0;
    z-index: 2; 
  }
  
  .menu li:hover > .submenu {
    display: block;
    z-index: 1; 
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      width: 100%;
      text-align: center;
    }
  
    .menu li {
      margin: 0;
    }
  
    .menu a {
      padding: 15px;
    }
  
    .hamburger {
      display: flex;
    }
  
    .menu.active {
      display: flex;
    }
  
    .submenu {
      left: 0;
      z-index: 1;
    }
  
    .submenu li:hover > .sub-submenu {
      left: 0;
      z-index: 2;
    }
  }
  